<ion-view view-title="What kind of goal?">
  <ion-content class="padding">
    <ion-item collection-repeat="goal in goalTypes" ng-click="goalClick(goal)">
    {{goal}}
  </ion-item>
<!--     <ion-item>
      Step Goal
    </ion-item>

    <ion-item>
      Sleep Goal
    </ion-item>

    <ion-item>
      Cycling Distance Goal
    </ion-item>
    
    <ion-item>
      Cycling Climbing Goal
    </ion-item> 

    <ion-item>
      Tech Usage Goal
    </ion-item> 

    <ion-item>
      Running Distance Goal
    </ion-item> 

    <ion-item>
      Focus Goal
    </ion-item> -->

  </ion-content>
</ion-view>