<ion-view view-title="Welcome to Synpact!">
  <ion-content class="padding">
  <div class="list">
    <h2>New users register here</h2>
    <label class="item item-input item-floating-label">
      <span class="input-label">First Name</span>
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Last Name</span>
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email">
    </label>
  </div>
  <button class="button button-block button-calm">
    Submit
  </button>
  Already a user? <a href="#/tab/dash">Login here.</a>
  </ion-content>
</ion-view>
