<ion-view view-title="Welcome to Synpact!">
  <ion-content class="padding">
    <div class="list">
      <h2>New users register here</h2>
      <form action="/api/signup" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email">
        <button type="submit" class="button button-block button-calm">
          Submit
        </button>
      </form>
    Already a user? <a href="#/tab/dash">Login here.</a>
    </div>
  </ion-content>
</ion-view>
