/* Empty. Add your own CSS if you like */
.center {
    top: 50%;
    /*-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative !important;
    margin:0 auto;*/
    width:100%;
}

.details {
  text-align: center;
  color: #666;
  font-size: 0.8em;
  margin-top: -2%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bottom {
  border-bottom: 1px solid #ddd !important;
}

label.item.bottom.item-input.col.col-33 {
  border-bottom: 1px solid #ddd !important;
}

.right {
  border-right: 1px solid #ddd !important;
}

h1, .h1 {
    color : #5B554F;
    /*font-size: 500px;*/
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5;
}

h2, h4 {
    text-align: center;
}

.ion-social-facebook {
  padding-right: 15px;
}
.login{
  border-radius: 25px;
}

.mid {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover{
  color: #3F5C9A;
}
/*a:visited, a:link{
  color: #387ef5;
}
a:focus{
  color: #ffc900;
}
a:active{
  color: #886aea;
}
*/
.soft {
  margin-top: -10px;
  color: #CCCCCC;
  font-size: .8em;
  font-style: italic;
}

.horizontal-separator .separator-text {
  display: inline-block;
  padding: 0 .5em;
  position: relative;
  top: -0.7em;
}

.horizontal-separator {
  border-top: 1px solid #ccc;
  display: inline-block;
  height: 1px;
  margin: 2em auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.separator-text {
  font-family: 'Proxima Nova',sans-serif;
  color: #444;
  font-size: 16px;
  background: white;
  display: inline-block;
  letter-spacing: 2px;
  padding: .7em;
  position: relative;
  text-transform: uppercase;
}

.goaldimensions {
  margin: 5px;
  width: 145px;
  height: 155px;
}

.progress-chart {
  position: absolute;
  top: 68%;
  left: 40%;
  /*margin-top: -100px;*/
  margin-left: -50px;
  width: 400px;
  height: 400px;
  /*background-color: red*/
}

.iconsize {
  font-size: 100px;
  color: #26B099;
  position: absolute;
  top: -60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-text-wrapper {
  width: 100px;
  margin: auto;
  height: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

.goal-text {
  margin: auto;
  top: 127px;
  bottom: 0;
  left: 0px;
  right: 0;
  position: absolute;
  text-align: center;
}

.goal-type-container {
  margin: auto;
  width: 300px;
  /*height: 500px;*/
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.deviceAuth{
  width: 400px;
  text-align: left;

}

.deviceAuthIcon {
  height: 38px;
  width: 38px;
  vertical-align: middle;
  text-align: left;
}

.successHeadline {
  /*color: #0a9ec7;*/
  font-size: 100px;
  text-decoration: bold;
  text-align: center;
}

.noPadding {
  padding-top: 0px;
  margin-top: 0px;
}

.spinner svg {
  display:block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 15%;
  width:  15%;
  transform: translateY(100%);
}

.fb {
  background-color: #3F5C9A;
  color: #fff;
  border: 0;
  box-shadow: rgba(0,0,0, 0.298039) 0px 2px 2px 0px;
}


.goal-type-legend {
  background-color: #FF5A5E;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  float: left;
  margin-right: 5px;
}

.time-chart-legend {
  background-color: #28BE9B;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  float: left;
  margin-right: 5px;
}

.legend-container {
  margin-left: auto;
  margin-right: auto;
}

.item {
  border-width: 0 !important;
}
.logo-container {
  text-align: center;
}
.login-container {
  width: 328px;
  height: 1704px;
}
.login-div {
  width: 100vw;
  height: 100vh;
}
.main {
  background-color: #00AA8F;

}
.mission {
  background-color: #ffffff;
}
.team {
  background-color: #00AA8F;
}

.logo {
  width: 70vw;
  margin-top: 80px;
}
.signin-container {
  width: 265px;
  margin: 0 auto;
  margin-top: 55px;
}
.signin-button {
  background-color: #006756;
  color: #FFFFFF;
  border: 0;
  box-shadow: rgba(0,0,0, 0.298039) 0px 2px 2px 0px;
}
.login-text {
  color: #FFFFFF;
  text-align: center;
}
.down-arrow {

}
.down-arrow-container {
  text-align: center;
  margin-top: 0px;
}
.wtext {
  color: #FFFFFF;
}
.headtext {
  font-size: 2.6em;
  padding-top: 25px;
}

.profile-image {
  float: left;
}

.team-row {
  width: 100vw;
  height: 116px;
  margin-left: 15px;
}

.profile-info {
  position: relative;
  left: 16px;
  top: 31px;
}

.oathTabs{
  background-color: white;
}


.body{
  font-family: '', sans-serif;
}


.goalDeetsHeadline{
  font-size: 34px;
  text-align: left;
  /*float: left;*/
  /*display: inline;*/

}

.shiftDetailDown{
  margin-top: 28px;
}

.goalDeetsInput{
  font-family: roboto;
  text-align: center;
  /* float: left; */
  width: 75%;
  border: 0;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}
.goalDeetsInputBox{
  text-align: center;
}

.goalDeetsSelectBox{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  margin-top: 5px;
  appearance: none;
  background-color: white;
  font-family: roboto;
  font-size: 30px;
}


.chart-container {
  margin-left: 2%;
  margin-right: auto;
  position: relative;
  width: 300px !important;
  float: left;
  top: 0;
  left: -75px;
  right: 0;
  bottom: 0;

}

.time-chart-container {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 191px !important;
  height: 59px !important;
  position: absolute;
  top: 27px;
  left: 55px;
}

.goal-container {

}

.info-container {
  padding-top: 20px;
  position: absolute;
  margin-left: 61%;
  margin-top: 7%;
  left: -10px;
  height: 33%;
  width: 50%;
  float: right;
}

.success-report-image {
  width: 300px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  display: block;
}

.donation-descrip {
  padding: 20px;
}

.share-container-fb {
  position: absolute;
  bottom: 49px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
