/* Empty. Add your own CSS if you like */
.center {
    top: 50%;
    /*-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative !important;
    margin:0 auto;*/
    width:100%;
}

h1, .h1 {
    color : #5B554F;
    /*font-size: 100px;*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5;
}

h2, h4 {
    text-align: center;
}

.ion-social-facebook {
  padding-right: 15px;
}
.login{
  border-radius: 25px;
}

.mid {
  text-align: center;
}

a {
  text-decoration: none;
}
a:visited, a:link{
  color: #387ef5;
}
a:hover{
  color: #11c1f3;
}
a:focus{
  color: #ffc900;
}
a:active{
  color: #886aea;
}

.soft {
  margin-top: -10px;
  color: #CCCCCC;
  font-size: .8em;
  font-style: italic;
}

.horizontal-separator .separator-text {
  display: inline-block;
  padding: 0 .5em;
  position: relative;
  top: -0.7em;
}

.horizontal-separator {
  border-top: 1px solid #ccc;
  display: inline-block;
  height: 1px;
  margin: 2em auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.separator-text {
  font-family: 'Proxima Nova',sans-serif;
  color: #444;
  font-size: 16px;
  background: white;
  display: inline-block;
  letter-spacing: 2px;
  padding: .7em;
  position: relative;
  text-transform: uppercase;
}

.goaldimensions {
  margin: 5px;
  width: 200px;
  height: 200px;
}

.progress-chart {
  position: absolute;
  top: 68%;
  left: 40%;
  /*margin-top: -100px;*/
  margin-left: -50px;
  width: 400px;
  height: 400px;
  /*background-color: red*/
}

.iconsize {
  font-size: 100px;
  color: #28BE9B;
  position: absolute;
  top: -60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-text-wrapper {
  width: 100px;
  margin: auto;
  height: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

.goal-text {
  margin: auto;
  height: 125px;
  top: 255px;
  bottom: 0;
  left: 0px;
  right: 0;
  position: absolute;
  text-align: center;
}

.goal-type-container {
  margin: auto;
  width: 300px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.deviceAuth{
  width: 400px;
  text-align: left;

}

.deviceAuthIcon {
  height: 38px;
  width: 38px;
  vertical-align: middle;
  text-align: left;
}

.successHeadline {
  color: #0a9ec7;
  font-size: 100px;
  text-decoration: bold;
  text-align: center;
}

.noPadding {
  padding-top: 0px;
  margin-top: 0px;
}


.spinner svg {
  display:block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 15%;
  width:  15%;
  transform: translateY(100%);
}

.fb {
background-color: #3F5C9A;
  color: #fff;
}
