# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Client Dependencies
client/app/node_modules/
client/app/www/lib/
client/app/platforms/
client/app/plugins/
resources/
client/plugins/

# Server Dependencies
node_modules/

# Test Coverage
coverage/

# Secrets
settings.json

# Misc
*.DS_Store
*.log
