<ion-view view-title="Authorize your tracking device">
  <ion-content class="padding">
   <div class="card">
     <div class="item item-text-wrap">
       It looks as though you do not have a device associated with this goal type registered with Sympact.
     </div>
   </div>

   <form action="/auth/jawbone" method="get">
     <button class="button button-clear button-calm deviceAuth">
        <img class="deviceAuthIcon" src="../img/jawbone.jpg">
        Click to authorize your Jawbone account
     </button>
   </form>

   <form action="/auth/jawbone" method="get">
     <button class="button button-clear button-calm deviceAuth">
        <img class="deviceAuthIcon" src="../img/fitbit.png">
        Click to authorize your Fitbit account
     </button>
   </form>

     <form action="sympact.herokuapp.com/auth/strava" method="get">
       <button class="button button-clear button-calm deviceAuth">
         <img class="deviceAuthIcon" src="../img/strava.png">
         Click to authorize your Strava account
       </button>
     </form>

     <form action="sympact.herokuapp.com/auth/strava" method="get">
       <button class="button button-clear button-calm deviceAuth">
         <img class="deviceAuthIcon" src="../img/spire.jpg">
         Click to authorize your Spire account
       </button>
     </form>

   </form>
  </ion-content>
</ion-view>
