<!-- <ion-view view-title="What kind of goal?">
  <ion-content class="padding">
    <ion-item collection-repeat="goal in goalTypes" ng-click="goalClick(goal)">
      {{goal.title}}
    </ion-item>
  </ion-content>
</ion-view>
 -->
<ion-view view-title="What kind of goal?">
  <ion-content class="padding">

    <div class='goal-type-container'>

        <div class="row">
          <ion-item class='card col goaldimensions' ng-click="goalClick(goalTypes[0])">
            <div class="icon-text-wrapper">
              <i class="ion-android-walk iconsize"></i>
            </div>
            <div class='goal-text'>
              <div>Step Goal</div>
            </div>
          </ion-item>
          <ion-item class='card col goaldimensions' ng-click="goalClick(goalTypes[1])">
            <div class="icon-text-wrapper">
              <i class="ion-ios-cloudy-night-outline iconsize"></i>
            </div>
            <div class='goal-text'>
              <div>Sleep Goal</div>
            </div>
          </ion-item>
        </div>

        <div class="row">
          <ion-item class='card col goaldimensions' ng-click="goalClick(goalTypes[2])">
            <div class="icon-text-wrapper">
              <i class="ion-android-bicycle iconsize"></i>
            </div>
            <div class='goal-text'>
              <div>Cycling Distance Goal</div>
            </div>
          </ion-item>
          <ion-item class='card col goaldimensions' ng-click="goalClick(goalTypes[4])">
            <div class="icon-text-wrapper">
              <i class="ion-ios-monitor iconsize"></i>
            </div>
            <div class='goal-text'>
              <div>Tech Usage Goal</div>
            </div>
          </ion-item>
        </div>

        <div class="row">
          <ion-item class='card col goaldimensions' ng-click="goalClick(goalTypes[5])">
            <div class="icon-text-wrapper">
              <i class="ion-android-walk iconsize"></i>
            </div>
            <div class='goal-text'>
              <div>Running Distance Goal</div>
            </div>
          </ion-item>
          <ion-item class='card col goaldimensions' ng-click="goalClick(goalTypes[6])">
            <div class="icon-text-wrapper">
              <i class="ion-android-radio-button-on iconsize"></i>
            </div>
            <div class='goal-text'>
              <div>Focus Goal</div>
            </div>
          </ion-item>
        </div>

   </div>

  </ion-content>
</ion-view>