<ion-view view-title="And if you miss your goal?">

  <ion-content class="padding">
    <div class="list card" ng-repeat="failure in failures">
      <div class="item item-body">
        <img class="full-image" src={{failure.img}}>
        <p>
          <b>{{failure.orgName}}</b> {{failure.description}}
        </p>
        <button class="button button-outline button-positive center" ng-click="failClick(failure)">
            Click to {{failure.clickAction}}
       </button>
        </div>
      </div>
  </ion-content>
</ion-view>
