<!-- <ion-view view-title="What kind of goal?">
  <ion-content class="padding">
    <ion-item collection-repeat="goal in goalTypes" ng-click="goalClick(goal)">
      {{goal.title}}
    </ion-item>
  </ion-content>
</ion-view>
 -->

<ion-view view-title="What kind of goal?">
  <ion-content class="padding">

<!--     <ion-item class='card' collection-repeat="goal in goalTypes" ng-click="goalClick(goal)">
      <div>{{goal.title}}</div>
    </ion-item> -->

    <div style='width: 413px; text-align: center'>

        <div class="row">
          <ion-item class='card col goaldimensions' ng-click="goalClick(goal)">
            <div class="icon-text-wrapper">
              <i class="ion-android-walk iconsize"></i>
              <div style='text-align: center'>Step Goal</div>
            </div>
          </ion-item>
          <ion-item class='card col goaldimensions' ng-click="goalClick(goal)">
            <div class="icon-text-wrapper">
              <i class="ion-ios-cloudy-night-outline iconsize"></i>
              <div style='text-align: center'>Sleep Goal</div>
            </div>
          </ion-item>
        </div>
        <div class="row">
          <ion-item class='card col goaldimensions' ng-click="goalClick(goal)">
            <div class="icon-text-wrapper">
              <i class="ion-android-bicycle iconsize"></i>
              <div style='text-align: center'>Cycling Distance Goal</div>
            </div>
          </ion-item>
          <ion-item class='card col goaldimensions' ng-click="goalClick(goal)">
            <div class="icon-text-wrapper">
              <i class="ion-ios-monitor iconsize"></i>
              <div style='text-align: center'>Tech Usage Goal</div>
            </div>
          </ion-item>
        </div>
        <div class="row">
          <ion-item class='card col goaldimensions' ng-click="goalClick(goal)">
            <div class="icon-text-wrapper">
              <i class="ion-android-walk iconsize"></i>
              <div style='text-align: center'>Running Distance Goal</div>
            </div>
          </ion-item>
          <ion-item class='card col goaldimensions' ng-click="goalClick(goal)">
            <div class="icon-text-wrapper">
              <i class="ion-android-radio-button-on iconsize"></i>
              <div style='text-align: center'>Focus Goal</div>
            </div>
          </ion-item>
        </div>

   </div>

  </ion-content>
</ion-view>