<ion-view view-title="{{goalType.title}}" ng-model="GoalStuff">
  <ion-content class="padding background">

    <div> My goal is to reach


    </div>




<!--     <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">My goal is to reach ____________ {{goalType.unit}}</span>
      <input ng-model="target" type="text" placeholder="My goal is to reach ____________ {{goalType.unit}}">
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Deadline
      </div>
      <select ng-model="timeframe">
        <option ng-repeat="time in times">{{time}}</option>
      </select>
    </label>

    <button class="button button-block button-outline button-positive" ng-click="updateDeets()">Submit</button>
    </div> -->


  </ion-content>
</ion-view>

<!-- Note: forms will need to be validated at some point -->
