<ion-view view-title="Welcome to Oath!">
  <ion-content class="padding">
    <form action="/auth/signup" method="post">
      <div class="list">
        <label class="item item-input">
          <input type="email" name="email" placeholder="Email address">
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Password">
        </label>
        <button class="button button-block button-positive">
          Sign Up
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
