<ion-view hide-nav-bar="true" animation="no-animation" hide-back-button="true">
  <ion-content>
    <div class="login-div main">
      <div class="logo-container"><img class ="logo" src="img/logo300.png"></div>
      <div class="signin-container">
        <form action="/auth/login" method="post">
          <div class="list">
            <label class="item item-input">
              <input type="email" name="email" placeholder="Email address">
            </label>
            <label class="item item-input">
              <input type="password" name="password" placeholder="Password">
            </label>
            <button class="button signin-button button-block" >
              Sign In
            </button>
          <h6 class="mid" >
            <a class="wtext" href = "#/signup">Forgot password?</a> |
            <a class="wtext" href = "#/signup">Create a new account </a>
          </h6>
          </div>
        </form>
        <div class='or-placement'>or</div>
        <form action="/auth/facebook" method="get">
          <button class="button button-block fb"><i padding="10px" class="icon ion-social-facebook"></i>
           Facebook
          </button>
        </form>
        <br>
      </div>
      <div class="down-arrow-container"><img src="img/down-arrow.png" class="down-arrow"/></div>
    </div>
    <div class="login-div mission">
      <h1>Our Mission</h1>
    </div>

    <div class="login-div team wtext">
      <h1 class="headtext wtext">Meet Our Team</h1>

    <div class='team-container'>
      <div class="team-row">
        <div class="profile-image">
          <img src="img/bh-profile.png"/>
        </div>
        <div class="profile-info">
          <ul>
            <li>Name: Bradley Heinz</li>
            <li>Phrase: Totally</li>
          </ul>
        </div>
      </div>
      <div class="team-row">
        <div class="profile-image">
          <img src="img/dh-profile.png"/>
        </div>
        <div class="profile-info">
          <ul>
            <li>Name: David Hammer</li>
            <li>Phrase: Dude</li>
          </ul>
        </div>
      </div>
      <div class="team-row">
        <div class="profile-image">
          <img src="img/jl-profile.png"/>
        </div>
        <div class="profile-info">
          <ul>
            <li>Name: Jason Ly</li>
            <li>Phrase: Oh What?</li>
          </ul>
        </div>
      </div>
      <div class="team-row">
        <div class="profile-image">
          <img src="img/tt-profile.png"/>
        </div>
        <div class="profile-info">
          <ul>
            <li>Name: Thomas Treffry</li>
            <li>Phrase: what?</li>
          </ul>
        </div>
      </div>

    </div>

    </div>
  </ion-content>
</ion-view>