<ion-view view-title="Welcome to Synpact!">
  <ion-content class="padding">
    <div class="list">
      <h2>Log in to Synpact with</h2>
      <form action="/auth/facebook" method="get">
         <button class="button login button-block button-positive"><i padding="10px" class="icon ion-social-facebook"></i>
           Facebook
         </button>
         <br>
      </form>
         <p class="mid"> We'll never post without your permission. </p>
          <p class="mid"> ------------------or------------------ </p>
         
       <h4>Log in to your Synpact account</h4>  
       <form action="/auth/login" method="post">
         <div class="list">
           <label class="item item-input">
             <input type="email" name="email" placeholder="Email address">
           </label>
           <label class="item item-input">
             <input type="password" name="password" placeholder="Password">
           </label>
           <br>
           <button class="button login button-outline button-block button-positive">
             Sign In
           </button>
         </div>
       </form>
      <h6>Need an account? Sign up <a href = "#/signup">here</a></h6>

    </div>
  </ion-content>
</ion-view>
