<ion-view view-title="Payment Information">
  <ion-content class="padding">
    <h1>Up the ante! Help yourself stay motivated to hit your goal. Your summary:</h1>

    <div class="list card">
      <div class="item item-avatar">
        <img src="../img/cupcake.jpg">
        <h2 style="text-align:left">Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <input ng-model='card' type="text" placeholder="Card Number">
      </label>
      <label class="item item-input">
        <input ng-model='cvc' type="text" placeholder="CVC">
      </label>
      <label class="item item-input">
        <input ng-model='month' type="text" placeholder="Expiration Month"></input>
      </label>
      <label class="item item-input">
        <input ng-model='year' type="text" placeholder="Expiration Year"></input>
      </label>
      <button class="button button-block button-outline button-positive" ng-click='pay()'>Submit Payment</button>
    </div>


  </ion-content>
</ion-view>

