<ion-view view-title="Summary">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-avatar">
        <img src="{{goal.success.img}}">
        <h2 style="text-align:left">Successful: </h2>
        <p>Your {{goal.success.price}} will {{goal.success.clickAction.toLowerCase()}}!</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="{{goal.fail.img}}">
        <h2 style="text-align:left">Unsuccessful: </h2>
        <p>Your {{goal.success.price}} will {{goal.fail.clickAction.toLowerCase()}}!</p>
      </div>
    </div>

    <div class="row">
      <label class="item item-input col">
        <input class="bottom" ng-model='card' type="text" placeholder="Card Number">
      </label>
    </div>

    <div class="row">
      <label class="item bottom item-input col col-33">
        <input class=" " ng-model='cvc' type="text" placeholder="CVC">
      </label>
      <label class="item bottom item-input col col-33">
        <input class=" " ng-model='month' type="text" placeholder="Month"></input>
      </label>
      <label class="item bottom item-input col col-33">
        <input class="" ng-model='year' type="text" placeholder="Year"></input>
      </label>
    </div>

    <button class="button button-block button-calm col" ng-click='pay()'>Submit Payment</button>

    <p class="details">Your card will be charged immediately</p>

  </ion-content>
</ion-view>

