<ion-view view-title="Progress">
  <ion-content class="padding">
    <h1>Goal Progress!</h1>

    <ion-list>
      <ion-item collection-repeat="goal in currentGoals">
         {{goal.goalType.title}} for {{goal.success.orgName}} Time remaining: {{goal.timeRemaining}} Progress: {{goal.progress}}
      </ion-item>
    </ion-list>

<!--     <ion-list>
      <ion-item collection-repeat="goal in expiredGoals">
           {{goal.goalType.title}}
            for {{goal.success.orgName}} Progress: {{goal.progress}}
      </ion-item>
    </ion-list> -->

  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- ASettings Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


  </ion-tabs>
</ion-view>
