<!-- <ion-view view-title="Welcome to Oath!">
  <ion-content class="padding">
    <div class="list">
      <h2>Sign up for an account!</h2>
      <form action="/auth/facebook" method="get">
         <input type="image" src="../img/facebooklogin.png" class ="center" alt="Submit">
      </form>
      <h4>Prefer to sign up with email and password?</h4><h4><a href = "#/localsignup">Click here</a></h4>


    </div>
  </ion-content>
</ion-view>
 -->

<div class="login-div main">
  <div class="logo-container boxIt">
    <img class ="logo" src="img/logo300.png">
  </div>
  <div class="signin-container">
    <form action="/auth/signup" method="post">
      <div class="list">
        <label class="item item-input">
          <input type="email" name="email" placeholder="Email address">
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Password">
        </label>
        <button class="button signin-button button-block" >
          Create new account
        </button>
      </div>
    </form>
  </div>
</div>
