<ion-view hide-back-button="true" view-title="Success !">
  <ion-content class="padding has-footer">

      <div class='donation-descrip'><h2>Congratulations! You achieved your {{achieved.goalType.title}} goal!</h2></div>

      <img class='success-report-image' src="../{{achieved.success.img}}">
      <br>

      <div class='donation-descrip'>
        Your donation of {{achieved.success.price}} went to the {{achieved.success.orgName}}!
      </div>

  </ion-content>
    <div class='share-container-fb'>
      <button href="/#/comingsoon" class="button button-block fb"><i padding="10px" class="icon ion-social-facebook"></i>
           Share on Facebook
      </button>
    </div>
  <div navs></div>
</ion-view>
