<ion-view view-title="Progress">
  <ion-content class="padding">

    <ion-list>
      <ion-item ng-repeat="goal in goals">

       <canvas tc-chartjs-doughnut chart-options="options" chart-data="data" auto-legend></canvas>
      {{goal}}

      </ion-item>
    </ion-list> 

<!--     <ion-list>
      <ion-item collection-repeat="goal in goals">
         {{goal.goalType.title}} for {{goal.success.orgName}} Time remaining: {{goal.timeRemaining}} Progress: {{goal.progress}}
      </ion-item>
    </ion-list> -->

<!--     <ion-list>
      <ion-item collection-repeat="goal in expiredGoals">
           {{goal.goalType.title}}
            for {{goal.success.orgName}} Progress: {{goal.progress}}
      </ion-item>
    </ion-list> -->

  </ion-content>
</ion-view>

<!--   <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Progress" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/progress">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="New Goal" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/goaltype">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/settings">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </ion-tabs> -->
  
