<ion-view hide-back-button="true" view-title="Progress">
  <ion-content class="padding has-footer">
      <div ng-repeat="datum in data">
       <div>{{datum.goal.goalType.title}}</div>
       <div>Current {{datum.goal.goalType.unit}}</div>
       <div>Time Remaining</div>
        <div class='chart-container'>
          <canvas tc-chartjs-doughnut chart-options="options" chart-data="datum.graphData" auto-legend></canvas>

          <span class='time-chart-container'>
            <canvas tc-chartjs-doughnut chart-options="options" chart-data="datum.timeData" auto-legend></canvas>
          </span>
        </div>
      </div>

  </ion-content>
</ion-view>

<div navs></div>

<!--   <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Progress" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/progress">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="New Goal" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/goaltype">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/settings">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </ion-tabs> -->

