<ion-view hide-back-button="true" view-title="Progress">
  <ion-content class="padding has-footer">
    <div ng-repeat="goal in goals">
      <h1>{{ goal.goalType.title }}</h1>

      <div class="goal-container">     
        <div class='chart-container'>
          <canvas tc-chartjs-doughnut chart-options="goalOptions" chart-data="goal.graphData" auto-legend></canvas>

          <div class='time-chart-container'>
            <canvas tc-chartjs-doughnut chart-options="timeOptions" chart-data="goal.timeData" auto-legend></canvas>
          </div>
        </div>

        <div class='info-container'>
           Target: {{ goal. target }} {{ goal.goalType.unit}}
          <br>
           Progress: {{ goal.displayProgress }}
          <br>
          {{ goal.timeRemaining }} remaining
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<div navs></div>