<ion-view view-title="Success !">
  <ion-content class="padding">
  	<h1>Congratulations!</h1>
    <h2>You've acheived your {{achieved.goalType.title}}! Your {{achieved.success.price}} donation will help {{achieved.success.description}} for {{achieved.success.orgName}}!</h2>
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Progress" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/progress">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- New Goal -->
    <ion-tab title="New Goal" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/goaltype">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Settings -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/settings">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


  </ion-tabs>
</ion-view>